# Board: BIGTREETECH SKR V1.4 Turbo (LPC1769)
# Motor driver: TMC2209 (Sensorless Homing enabled)
# Frame: Ender-3
# Extruder: Orbiter Extruder with LDO 36STH20-1004AHG
# Extruder mount: Hero me gen 5
# Others: BLTouch, NeoPixel

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: P2.2
dir_pin: !P2.6
enable_pin: !P2.1
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_x:virtual_endstop
position_endstop: 0
homing_retract_dist: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: P0.19
dir_pin: !P0.20
enable_pin: !P2.8
microsteps: 16
rotation_distance: 40
endstop_pin: tmc2209_stepper_y:virtual_endstop
position_endstop: 0
homing_retract_dist: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
microsteps: 16
rotation_distance: 8
## disable BLTouch
#endstop_pin: !P1.27
#position_endstop: 0.0
## enable BLTouch
endstop_pin: probe:z_virtual_endstop
position_min: -5
position_max: 190

[extruder]
min_extrude_temp: 0
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
microsteps: 16
rotation_distance: 4.63
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
#control: pid
#pid_Kp: 22.2
#pid_Ki: 1.08
#pid_Kd: 114
min_temp: 0
max_temp: 280

[heater_fan extruder_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

#[extruder1]
#step_pin: P1.15
#dir_pin: P1.14
#enable_pin: !P1.16
#heater_pin: P2.4
#sensor_pin: P0.23
#...

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.25
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1769_2220000FA39869AFAE60405EC02000F5-if00

[printer]
kinematics: cartesian
# ender-3
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

## skr-v4 config
#max_velocity: 400
#max_accel: 500
#max_z_velocity: 10
#max_z_accel: 100
## end


########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: P1.10
run_current: 0.800
stealthchop_threshold: 999999
diag_pin: P1.29
driver_SGTHRS: 100 # 255 is most sensitive value, 0 is least sensitive


[tmc2209 stepper_y]
uart_pin: P1.9
run_current: 0.800
stealthchop_threshold: 999999
diag_pin: P1.28
driver_SGTHRS: 100

[tmc2209 stepper_z]
uart_pin: P1.8
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: P1.4
run_current: 0.350
hold_current: 0.001
stealthchop_threshold: 999999

#[tmc2208 extruder1]
#uart_pin: P1.1
#run_current: 0.800
#hold_current: 0.500
#stealthchop_threshold: 999999

[safe_z_home]                         # enable for BLTouch
home_xy_position: 155, 120
speed: 80.0
z_hop: 10.0
z_hop_speed: 10.0

[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^P0.10
control_pin: P2.0
x_offset: -37                          # modify as needed for bltouch location
y_offset: -8                          # modify as needed for bltouch location
#z_offset: 0.0                  # modify as needed for bltouch or run PROBE_CALIBRATE
speed: 10
samples: 3
sample_retract_dist: 5.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
speed: 10
samples: 2

[bed_mesh]                            # enable for BLTouch
speed: 250
mesh_min: 28,45
mesh_max: 198,215
algorithm: lagrange #bicubic # if `probe_count: 3,3`, it force to use lagrange.
probe_count: 3,3
horizontal_move_z: 8

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

[display]
lcd_type: emulated_st7920
en_pin: EXP1_4
spi_software_sclk_pin: EXP1_5
spi_software_mosi_pin: EXP1_3
spi_software_miso_pin: EXP1_6
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2

[neopixel bed_light]
pin: P1.24
chain_count: 10
color_order: GRB
initial_RED: 1
initial_GREEN: 1
initial_BLUE: 1

#[filament_switch_sensor e0_sensor]
#switch_pin: !P1.26

[gcode_macro PROBE_CAL]
gcode:
 PROBE_CALIBRATE

[gcode_macro G29] # If moving from marlin to klipper uncomment to mimic G29
gcode:
 BED_MESH_CALIBRATE
 G1 X0 Y0 Z10 F4000

[include fluidd.cfg]

[respond] # enable M118

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 26.131
#*# pid_ki = 1.416
#*# pid_kd = 120.530
#*#
#*# [bltouch]
#*# z_offset = 2.349
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.887500, 0.060000, -0.387500
#*# 	  0.903750, 0.501250, -0.217500
#*# 	  0.965000, 0.620000, 0.083750
#*# tension = 0.2
#*# min_x = 28.0
#*# algo = lagrange
#*# y_count = 3
#*# mesh_y_pps = 2
#*# min_y = 45.0
#*# x_count = 3
#*# max_y = 215.0
#*# mesh_x_pps = 2
#*# max_x = 198.0
